body {
  margin: 10px;
  padding: 5px;
  font-family: sans-serif;
}

.underline {
  text-decoration: underline;
}

.conversation-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 500px;
  overflow-y: scroll;
}

.message-right {
  list-style-type: none;
  margin-left: 40%;
  margin-right: 5px;
  text-align: right;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.message-left {
  list-style-type: none;
  margin-right: 40%;
  margin-left: 5px;
  text-align: left;
  background-color: #d3d3d3;
  color: black;
  border-radius:5px;
  padding: 2px;
}

.contacts-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 500px;
  margin: 3px;
}

.login-form {
  width: 300px;
}

.empty-message-warning {
  color: red;
  text-align: center;
}

.start-message {
  color: green;
  text-align: center;
}

.margin-right-btn {
  margin-right: 3px;
}

.center-text {
  text-align: center;
}

.msg-input-container {
  margin-top: 5px;
}

/* //////Contact Sidebar */

.contacts-menu {
    width: 200px; /* Set a width if you like */
}

.contacts-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.contacts-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.contacts-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
