body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.conversation-container {
  border: 1px solid black;
  height: 500px;
}

.message-right {
  text-align: right;
}

.message-left {
  text-align: left;
}

.contacts-container {
  border: 1px solid black;
  height: 500px;
}

.login-form {
  width: 300px;
}

.margin-right-btn {
  margin-right: 3px;
}

/*.sidebar-container {
  width: 30%;
  float: left;
}

.primary-content {
  margin-right: 30%;
  float: right;
}*/
